<div class="card">
  <h4 class="card-header">Alex Markules</h4>
  <div class="card-body">
    <ul>
      <li><b>Education:</b></li>
      <ul>
        <li>Western Michigan University, Kalamazoo, MI</li>
        <ul>
          <li>B.S. in Computer Science</li>
          <li>Minor in Mathematics</li>
          <li>Graduating in April 2019</li>
          <li>Current GPA: 3.43</li>
        </ul>
        <li>Rockford High School, Rockford, MI</li>
        <ul>
          <li>Graduated Summa Cum Laude (GPA: 4.15)</li>
          <li>Founding Member of the Rockford Computer Club</li>
        </ul>
      </ul>
      <li><b>Professional Interests:</b></li>
      <ul>
        <li>Full Stack Web Development</li>
        <li>Mobile Development</li>
        <li>Computer Science Theory</li>
      </ul>
      <li><b>Involvement and Accomplishments:</b></li>
      <ul>
        <li>Recipient of the Col. Charles Bayliss Scholarship for outstanding undergraduate academic achievement in Computer Science.</li>
        <li>Recipient of the WMU College of Engineering and Applied Science Dean’s Scholarship for outstanding High School academic achievement.</li>
        <li>Member of <a href="https://ctftime.org/team/3602">WMU CS Capture the Flag Team</a>, competing in cybersecurity competitions with teams from around the world.</li>
        <li>Volunteer for Habitat for Humanity, where our group raised nearly $10,000 in donations in 2017.</li>
        <li>Member and former Recruitment Chairman of Alpha Tau Omega, America’s foremost leadership development fraternity. I developed and executed a recruitment strategy which attracted 3 times the number of new members as the previous year. </li>
      </ul>
      <li><b>Relevant Links:</b></li>
      <ul>
        <li><a href="https://github.com/amarkules1">GitHub</a></li>
        <li><a href="https://docs.google.com/document/d/1GugFYGhfwvx9_fo4T1wYpH6281-gtdk_MUr-qiX3DDw/edit?usp=sharing">Resume</a></li>
        <li><a href="http://wmich.edu/cs">WMU Computer Science Department</a></li>
        <li><a href="https://github.com/DavideViolante/Angular-Full-Stack">This project was developed using the M.E.A.N. stack, based on this template</a></li>
        <!--<li>Linkdin</li>-->
      </ul>
    </ul>
  </div>
</div>